.sub-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  text-align: center;
}

.subject {
  width: 90%;
  padding: 10px 90px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #0f3460;
  border: 5px solid #16213e;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin: 10px auto;
  cursor: pointer;
  box-shadow: 3px 3px 5px darkslateblue;
}

h1 {
  font-size: 3.2em;
  margin: 80px 0px 50px 0;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 900;
  padding: 5px 30px;
  border: 6px inset rgb(108, 108, 184);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    90deg,
    #020024 0%,
    #090979 35%,
    #00d4ff 100%
  );
}

.add {
  width: 300px;
  background: #e94560;
  text-align: center;
  font-size: 1.5em;
  padding: 10px 20px;
  margin: 20px 0;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  border: 3px outset red;
}

.add a {
  text-decoration: none;
  color: white;
}
